[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pandas-datareader = {git = "https://github.com/pydata/pandas-datareader.git", ref = "master"}
networkx = "*"
jupyter = "*"
matplotlib = "*"
mpl-finance = {git = "https://github.com/matplotlib/mpl_finance.git", ref = "master"}
seaborn = "*"
bokeh = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.6"
